body{
    min-height: 100%;
    min-width: 100%;
    background-image: url("https://wallpaperaccess.com/full/2489634.jpg");
    background-repeat: no-repeat;
    background-color: rgb(20, 20, 20);
    background-size: cover;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: larger;
    color: white;    
}

#timer{
    margin-right: 40px;
}
#start-game{
    width: fit-content;
    border: 10px;
    margin: 20%;
    border-radius: 10px;
    border: solid;
    border-color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: larger;
    font-weight: bolder;
    color: white;
    background-color: green;
}
#start-game:hover{
    background-color: red;
}

#answers button{
    display: flex;
    height: fit-content;    
    width: 600px;
    margin-bottom: 20px;
    border: solid;
    border-color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: larger;
    color: white;
    background-color: black;
}

#answers button:hover{
    background-color: blue;
    border-width: 0 2px 2px 0; 

}

#user-name{
    margin-top: 200px;
    border: 10px;
    border-radius: 10px;
    border: solid;
    border-color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: larger;
}

#submit{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: larger;
    font-weight: bolder;
    color: white;
    background-color: brown;
}

form{
    min-height: 800px;
}

#scores{
    margin-left: 10%;
}

#display-highscore{
    border: 10px;
    border-radius: 5px;
    border: solid;
    border-color: white;
}
#reset {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: larger;
    font-weight: bolder;
    color: white;
    background-color: brown;
}
#back{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: larger;
    font-weight: bolder;
    color: white;
    background-color: rgb(35, 24, 187);
}